body{
    display: flex;
    justify-content: center;
    background: #fff1e1;
}

.link{
    padding: 20px;
}

.spin{
  display: flex;
}


header {
    width: 960px;
    margin: 0 auto;
  }
  


  
  header {
    width: auto;
    margin-left: 10px;
    flex: auto;
    display: flex;
  }
  
  serch
  main {
    width: 750px;
    height: 750px;;
  }
  
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    
    background: #fff1e1;
    color:#1d3c45;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 0;
    font-size: x-large;
  }
  


  main {
    border: 1px solid #b2601a;
    margin-bottom: 10px;
    border-radius: 3px;
   
  }
  
  header {
    position: relative
    
  }
  
.searchList{
  display: flex;

}

.artists{
  width: 40vw;
  display: flex;
  flex-direction:column;
}

.songs{
  display: flex;
  flex-direction:column;
  width: 40vw;
}

.input{
  color: #1d3c45;
  font-size: small;
}